<div class="container-md frame frame-sm">
    <div class="frame-title">
        <h1> Greens <em>Balance Of Power</em>  seems likely</h1>
    </div>
    <div class="frame-subtitle">
        <p>Predicting the senate is very difficult, because (a) there are no polls for the senate, and (b) senate
            preference flows are near impossible to predict. But here's our best guess for what the senate looks like.</p>
    </div>
    <div class="text-center"><svg id="parliament" style="margin: auto; text-align:center"></svg></div>
    <div class="row align-items-between">
        <div class="col ">
            <h2 class="senate-seats">Labor: <p class="senate-labor"> 29 Seats</p>
            </h2>
        </div>
        <div class="col ">
            <h2 class="senate-seats">Greens: <p class="senate-grn"> 12 Seats</p>
            </h2>
        </div>
        <div class="col ">
            <h2 class="senate-seats">ONP: <p class="senate-onp"> 1 Seat</p>
            </h2>
        </div>
        <div class="col ">
            <h2 class="senate-seats">IND: <p class="senate-ind"> 2 Seats</p>
            </h2>
        </div>
        <div class="col ms-auto text-end">
            <h2 class="senate-seats">Coalition: <p class="senate-coalition"> 32 Seats</p>
            </h2>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    What does winning mean?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>No one is going to get a majority.</strong> It's essentially impossible that any party get a majority in the Australian senate. That's because 
                    senate seats are allocated proportional to the vote of each party in each state. Neither of the major parties are polling above 50% which would be needed
                    for a senate majority. Therefore we need to talk about the <em>balance of power.</em>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Balance of power
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    If we assume that Labor and the Liberals are on opposite sides of a motion, the balance of power is controlled by the party or parties that can
                    decide the outcome the motion. The model currently predicts the Greens win 6 seats giving them a total of 12 seats. If the Greens vote with Labor 
                    (or the Liberals) then combined they will have more than the 38 seats needed for a senate majority.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Steven Birmingham or Penny Wong?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>Steven Birmingham or Penny Wong?</strong> The leader of the government in the senate is not determined by the actual senate results. Instead,
                    if the Coalition are returned to power then Birmingham will remain the leader of the house, even if the Greens and Labor commanded a senate majority.
                    The same is true if Labor win: Penny Wong would become leader of the government in the senate, even if Labor weren't the largest party in the senate?
                </div>
            </div>
        </div>
    </div>
</div>