{% extends "base.jinja" %}
{% block title %}Senate Forecast{% endblock %}

{% block content %}
   
    <div style="padding: 2%;"></div>

    {% include 'senate/senate-frame1.jinja'%}

    <div style="padding: 2%;"></div>

    {% include 'senate/senate-frame2.jinja'%}

    <div style="padding: 2%;"></div>

{% endblock content %}