{% extends "base.jinja" %}
{% block title %}Author{% endblock %}

{% block content %}
   
    <div style="padding: 2%;"></div>

    {% include 'author/author-frame1.jinja'%}

    <div style="padding: 2%;"></div>


{% endblock content %}