{% extends "base.jinja" %}
{% block title %}Modelling{% endblock %}

{% block content %}
   
    <div style="padding: 2%;"></div>

    {% include 'modelling/modelling-frame1.jinja'%}

    <div style="padding: 2%;"></div>

    {% include 'modelling/modelling-frame2.jinja'%}

    <div style="padding: 2%;"></div>

{% endblock content %}