<div class="container-sm frame small">
    <div class="frame-title">
        <h1>{{ data.winner }} has {{ data.winnerChance }}% chance of winning</h1>
    </div>
    <div class="frame-subtitle">Every time a new poll comes out we run 10,000 simulations to see which
        party comes out on top. The table below gives you the breakdown of which party we think will form
        government at the next election.</div>

    <div class="row align-items-between">
        <div class="col">
            <h3 class="bee-party">Coalition</h3>
        </div>
        <div class="col ms-auto text-end">
            <h3 class="bee-party">Labor</h3>

        </div>
    </div>
    <div class="row align-items-between">
        <div class="col">
            <h2 class="bee-coalition bee-seats">{{data.coalitionChance}} times in 100</h2>
        </div>
        <div class="col ms-auto text-end">
            <h2 class="bee-labor bee-seats">{{data.laborChance}} times in 100</h2>
        </div>
    </div>
    <div class="bee-graph-wrapper">
        <div id="bee" class="bee-graph"></div>
    </div>
    <div class="row align-items-between">
        <div class="col"><span>
                <div class="bee-icon bee-icon-liberal"></div>
            </span>Coalition Win</div>
        <div class="col ms-auto text-center"><span>
                <div class="bee-icon bee-icon-hung"></div>
            </span>Hung Parliament</div>
        <div class="col ms-auto text-end"><span>
                <div class="bee-icon bee-icon-labor"></div>
            </span>Labor Win</div>
    </div>

    <div style="padding: 2%;"></div>





</div>