<div class="container-sm frame">
    <div class="frame-title">
        <h1>Another way to think of the results</h1>
    </div>
    <div class="frame-subtitle">The beechart above is handy for understanding the possible results, but the histogram provides a more accurate view on
    election outcomes.</div>

</div>