{% extends "base.jinja" %}
{% block title %}House Forecast{% endblock %}

{% block content %}
    {% include 'index/bubble.jinja'%}
    <div style="padding: 2%;"></div>

    {% include 'index/timegraphs.jinja'%}
    <div style="padding: 2%;"></div>

    {% include 'index/beechart.jinja'%}
    <div style="padding: 2%;"></div>
    
    {% include 'index/histogram.jinja'%}
    <div style="padding: 2%;"></div>

    {% include 'index/primaryvotes.jinja'%}
    <div style="padding: 2%;"></div>

    {% include 'index/preferenceflow.jinja'%}
    <div style="padding: 2%;"></div>

{% endblock content %}