<div class="container-sm frame">
    <div class="frame-title">
        <h1>{{ data.winner }} has {{ data.winnerChance }}% chance of winning</h1>
    </div>
    <div class="frame-subtitle">Every time a new poll comes out we run 10,000 simulations to see which
        party comes out on top. The table below gives you the breakdown of which party we think will form
        government at the next election.</div>

    <div class="row align-items-between">
        <div class="col">
            <h3 class="bee-party">Coalition</h3>
        </div>
        <div class="col ms-auto text-end">
            <h3 class="bee-party">Labor</h3>

        </div>
    </div>
    <div class="row align-items-between">
        <div class="col">
            <h2 class="bee-coalition bee-seats">{{data.coalitionChance}} times in 100</h2>
        </div>
        <div class="col ms-auto text-end">
            <h2 class="bee-labor bee-seats">{{data.laborChance}} times in 100</h2>
        </div>
    </div>
    <div class="bee-graph-wrapper">
        <div id="bee" class="bee-graph"></div>
    </div>
    <div class="row align-items-between">
        <div class="col"><span>
                <div class="bee-icon bee-icon-liberal"></div>
            </span>Coalition Win</div>
        <div class="col ms-auto text-center"><span>
                <div class="bee-icon bee-icon-hung"></div>
            </span>Hung Parliament</div>
        <div class="col ms-auto text-end"><span>
                <div class="bee-icon bee-icon-labor"></div>
            </span>Labor Win</div>
    </div>

    <div style="padding: 2%;"></div>


    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    What does this mean?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>{{ data.winner }} is likely to win.</strong> But {{ data.winnerChance}}% chance to win isn't guaranteed. {{ data.loser}} has a better chance
                    to win the election than {{ data.chanceExample}}. This number is generated by a number of factors, all of which have
                    some degree of uncertainty. The more uncertainty the harder it is to make predictions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Where's the missing {{ data.hungChance }}%?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>A hung parliament is possible.</strong> A hung parliament occurs when neither party has a majority.
                    If Labor or the Coalition are left with less the 76 seats after the election, they will have to scramble to form a minority
                    government. The last time this happened was 2010. The model gives this a {{ data.hungChance }}% chance to happen.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    But the election isn't for a few weeks?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>The model asks what if the election were held today</strong> It's hard enough to guage the current mood of the
                    electorate using polls and other data. The model takes the polls as snapshots of how voters are leaning and 
                    asks what if they voted today? The model <strong>does not try to predict the future</strong>. Anything could still happen
                    in the next little while before the election. The polls could get narrower or further apart. This is not a crystal ball.
                </div>
            </div>
        </div>
    </div>


</div>