{% extends "base.jinja" %}
{% block title %}House Forecast{% endblock %}

{% block content %}
    {% include 'index/index-frame1.jinja'%}

    <div style="padding: 2%;"></div>

    {% include 'index/index-frame2.jinja'%}

    <div style="padding: 2%;"></div>

    {% include 'index/index-frame3.jinja'%}
    <div style="padding: 2%;"></div>

{% endblock content %}