<div class="container-sm frame">
    <div class="frame-title">
        <h1>How the race to form government has evolved</h1>
    </div>
    <div class="frame-subtitle">The race to form the next government has only just begun.
        This graph will keep track of how the campaign goes and which parties are cutting through.</div>
    <div style="padding: 0.5%;"></div>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" value="1" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Chance to Win</label>
    
                <input type="radio" class="btn-check" name="btnradio" value="2" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Number of Seats</label>
    
                <input type="radio" class="btn-check" name="btnradio" value="3" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">TPP</label>
            </div>
        </div>
    <div id="probv1" class="desc" style="position: relative;height: 30vh;"><canvas id="timechart1"></canvas></div>
    <div id="probv2" class="desc" style="display: none;position: relative;height: 30vh;"><canvas id="timechart2"></canvas></div>
    <div id="probv3" class="desc" style="display: none;position: relative;height: 30vh;"><canvas id="timechart3"></canvas></div>

</div>