<div class="container-sm frame">
    <div class="frame-title">
        <h1>Preference Flows</h1>
    </div>
    <div class="frame-subtitle"> Our model calculates preference flows in two ways. First it applies a weighted regression analysis
    of the 2019 election and recent models to construct a prior on how preferences will flow. Then when we simulate elections,
    our correlation matrix updates the two party preferred outcomes, therefore, changing the preference flows. This graphs shows
    how we think preferences will flow to Labor and the Liberals.
    </div>

</div>