<div class="container-sm frame">
    <div class="frame-title">
        <h1>Our prediction of the primaryvotes overtime</h1>
    </div>
    <div class="frame-subtitle">Polls can be biased, have different sample sizes and do not take into account any <em>fundamentals</em>.
    Our model adjusts the polls and their uncertainties using a Kalman filter. This is how we think the primary votes will pan out.</div>

</div>