<div class="container-sm frame small">
    <div class="frame-title">
        <h1>How the race to form government has evolved</h1>
    </div>
    <div class="frame-subtitle">The race to form the next government has only just begun.
        This graph will keep track of how the campaign goes and which parties are cutting through.</div>
    <div style="padding: 0.5%;"></div>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" value="1" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Chance to Win</label>
    
                <input type="radio" class="btn-check" name="btnradio" value="2" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Number of Seats</label>
    
                <input type="radio" class="btn-check" name="btnradio" value="3" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">TPP</label>
            </div>
        </div>
    <div id="probv1" class="desc" style="position: relative;height: 30vh;"><canvas id="timechart1"></canvas></div>
    <div id="probv2" class="desc" style="display: none;position: relative;height: 30vh;"><canvas id="timechart2"></canvas></div>
    <div id="probv3" class="desc" style="display: none;position: relative;height: 30vh;"><canvas id="timechart3"></canvas></div>
    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    What does this mean?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>{{ data.winner }} is likely to win.</strong> But {{ data.winnerChance}}% chance to win isn't guaranteed. {{ data.loser}} has a better chance
                    to win the election than {{ data.chanceExample}}. This number is generated by a number of factors, all of which have
                    some degree of uncertainty. The more uncertainty the harder it is to make predictions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Where's the missing {{ data.hungChance }}%?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>A hung parliament is possible.</strong> A hung parliament occurs when neither party has a majority.
                    If Labor or the Coalition are left with less the 76 seats after the election, they will have to scramble to form a minority
                    government. The last time this happened was 2010. The model gives this a {{ data.hungChance }}% chance to happen.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    But the election isn't for a few weeks?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>The model asks what if the election were held today</strong> It's hard enough to guage the current mood of the
                    electorate using polls and other data. The model takes the polls as snapshots of how voters are leaning and 
                    asks what if they voted today? The model <strong>does not try to predict the future</strong>. Anything could still happen
                    in the next little while before the election. The polls could get narrower or further apart. This is not a crystal ball.
                </div>
            </div>
        </div>
    </div>
</div>