<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container-fluid" style="display:inline-flex; align-items:baseline;">
        <a class="navbar-logo" href="index.html"><img src="img/logo2.svg"alt="Path To Power" width="200vw"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link {% if active=='index'%} active activebar{% endif %}"aria-current="page" href="index.html">House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active=='senate'%} active activebar{% endif %}"  href="senate.html">
                        Senate</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if active=='about'%} active activebar{% endif %}" href="" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="modelling.html">Modelling</a></li>
                        <li><a class="dropdown-item" href="author.html">Author</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://github.com/PatrickhCahill/AusForecaster">Github</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contribute</a>
                </li>
            </ul>
            <span class="navbar-text">
                An Australian Election Forecaster
            </span>
        </div>
    </div>
</nav>